/* Login & Inscription */

html,body{
    height: 100%;
}

.title_1{
  margin-top: 30%;
  margin-left: 85px;
  margin-bottom: 5%;
  font-size: 2rem;
}

.inscription{
    display: flex;
    margin-left: 18%;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
    outline: none;
}

.inscription_2{
    display: flex;
    margin-left: 33.5%;
    margin-top: 15px;
    padding: 5px;
    border-radius: 16px;
    outline: none;
    background-color: #21C2FF; 
}

.inscription_3{
    display: flex;
    margin-left: 18%;
    margin-top: 10%;
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
    outline: none;
}

.ligne_verticale{
    position: flex;
    width:100%;
    border-left:3px solid #D1D1D1;
    height:67px;
    margin-top: 15%;
    padding-bottom: 75%;
}

.coche{
    margin-left: 0%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 7px;
    outline: none;   
}

.title_2{
  margin-top: 105px;
  margin-right: 50px;
  margin-left: -47%;
  font-size: 2rem;
}

.connection{
    display: fixed;
    margin-left: -55%;
    margin-top: 30%;
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
    outline: none;
}

.connection_1{
    display: fixed;
    margin-left: -55%;
    margin-right: 100%;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
    outline: none;
}

.connection_2{
    display: flex;
    margin-left: -35.5%;
    margin-top: 30px;
    padding: 5px;
    border-radius: 16px;
    outline: none;
    background-color: #21C2FF; 
}

.container{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.formulaire{
     
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.input-form{
    padding-left: 10px;
}

/* End Login & Inscription */

/*Icone de la navbar*/

.fas{
  margin-left: auto;
  margin-right: auto;
  width: 30px;
}

/* Navbar */

.r-link{
  display: inline-flex !important;
}

.r-link[href]{
  color: var(--rLinkColor) !important;
  text-decoration: none !important;
}

.r-list{
  padding-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  list-style: none !important;
}

.menu{
  --rLinkColor: currentColor;
  width: 100%;
  position: fixed;
  top: 0px;
}

.menu__link{
  padding: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu:hover .menu__link:not(:hover){
  --rLinkColor: rgba(22, 22, 22, .35);
}

.menu__group{
  background-color: var(--menuBackgroundColor, #D1D1D1);
  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  font-size: 1.3em;
  width: 100%;
}

.menu__list{
  display: flex;
  justify-content: space-between;
}

.menu__link{
  padding: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-underlined{
  width: 100%;
  position: relative;
  overflow: hidden;
  will-change: color;
  transition: color .25s ease-out;  
}

.text-underlined::before, 
.text-underlined::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: currentColor;
  will-change: width;
  transition: width .1s ease-out;
  position: absolute;
  bottom: 0;
}

.text-underlined::before{
  left: 50%;
  transform: translateX(-50%); 
}

.text-underlined::after{
  right: 50%;
  transform: translateX(50%); 
}

.text-underlined:hover::before, 
.text-underlined:hover::after{
  width: 100%;
  transition-duration: .2s;
  background-image: url('../img/home.jpg');
}

.page__custom-settings{
  --menuBackgroundColor: #6c5ce7;
  --menuLinkColor: #fff;
  --menuLinkColorUnactive: #241c69;
  --menuLinkOutlineOffset: -.5rem; 
}

.body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;  
  flex-direction: column;
}

.page{
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 13%;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  height: 100%;
}

.page__menu:nth-child(n+2){
  margin-top: 3rem;
}

/* End navbar*/ 
    
/* Footer */

.footer{
  background: #21C2FF;
  padding: 15px 0px 0px 15px;
  color:white;
  position: fixed;
  bottom: 0px;
  min-width: 100%;
 
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}

/* End footer */

/* Responsive */

@media all and (max-width:768px){
  .inscription_3{
    margin-top: 39%;
  }

  .footer{
    height: 100px;
  }
}

@media all and (max-width:425px){
  .title_2{
    margin-top: 550px;
    margin-left: -53%;
    font-size: 1.5rem;
  }

  .connection{
  margin-top: auto;
  margin-left: -71%;
  }

  .connection_1{
    margin-left: -71%;
  }

  .connection_2{
    margin-left: 80%;
  }

  .title_1{
    margin-top: 55px;
    margin-left: 70%; 
  }

  .inscription_3{
    margin-left: 65%;
    margin-top: 25px;
  }

  .inscription{
    margin-left: 65%;
  }

  .inscription_2{
    margin-left: 80%;
    margin-bottom: 75%;
  }

  .cgu{
    margin-left: 330px;
    margin-right: 0px ;
    width: 6em;
    text-align: center;
  }

  .coche{
    text-align: center;
    margin-left: 370px;
  }

  .ligne_verticale{
    border-left: none;
  }

  .footer{
    height: 100px;
  }

  .connection_2{
    margin-left: -39%;
  }

  .text-underlined{
    width: 77%;
  }
}