body {
    margin: 0;
    height: 100vh;
    background-color: #BFBFBF;
    justify-content: center;
    align-items: center;
}

body a:hover {
    text-decoration: none;
}

/* ------------------- POSITION DES CHAMPS TEXTES ------------------------- */

.position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posi_1 {      /* POSITION DE TOUT LES LABELS */
    font-weight: bolder;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 25px;
    width: 300px;
    border-radius: 25px;
    outline: none;
}

.posi_2 {     /* CHAMP TEXTES */
    padding: 10px;
    margin-left: auto; 
    margin-right: auto; 
    height: 25px;
    width: 300px;
    border-radius: 25px;
    outline: none;
}

.posi_3 {    /* CHAMP TEXTE DE "Adresse" */
    padding: 10px;
    margin-left: auto; 
    margin-right: auto; 
    height: 25px;
    width: 300px;
    border-radius: 25px;
    outline: none;
}

.posi_btn {     /* POSITION DU BOUTON */
    margin-top: 25px;
}

.formulaire{
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

hr {
    color: #BFBFBF;
    width: 65%;
    margin-bottom: 4%;
}

/* ----------------- FIN POSITION DES CHAMPS TEXTES ---------------------  */

/* ----------------- RESPONSIVE ---------------------  */

@media screen and (max-width: 1280px){
    .card_1 {
      width: 100%;
    }
}

/* ----------------- FIN RESPONSIVE ---------------------  */

/* ------------------- BOUTONS ------------------------- */

.butn3 {
    font-weight: bold;
    color: black ;
    padding: 10px;
    border-radius: 50px;
    height: 50px;
    width: 175px;
    border: 1px solid #066283;
    background-color: #21C2FF;
    outline: none;
    text-decoration: none;
}

.butn3:hover {
    border: 1px solid #21C2FF;
    background-color: #066283;
    transition: background-color 200ms;
    cursor: pointer;
}

.label-file {       /* BOUTON EDITION PHOTO DE PROFIL */
    cursor: pointer;
    color: #16a9df;
    font-weight: bold;
}

.label-file:hover {
    color: #075a79;
}

.input-file {
    display: none;
}

/* -------------------- FIN BOUTONS ------------------------- */

/* -------------------- PROFIL PICTURE ---------------------- */

.card_1 {
    background-image: initial;
    background-color: rgb(25, 25, 25);
    box-shadow: rgba(7, 7, 6, 0.2) 0px 0px 10px 5px, inset;
    max-width: 600px;
    padding-top: 20px;
    margin: 0px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card_2 {
    background-image: initial;
    background-color: rgb(25, 25, 25);
    box-shadow: rgba(7, 7, 6, 0.2) 0px 0px 10px 5px;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    text-align: center;
}

.Avatar {
    border-color: rgb(108, 101, 90);
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 100%;
    border: 3px black solid;
    max-width: 100%;
    width: 250px;
    height: 250px;
}

.Avatar:hover {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    color: #fafafa;
    transition: all 0.3s ease;
}

/* -------------------- END PROFIL PICTURE ---------------------- */