body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #BFBFBF;
    justify-content: center;
    align-items: center;
}

body a:hover {
    text-decoration: none;
}

/* ------------------- POSITION DES CHAMPS TEXTES ------------------------- */

.input-form {               /* POSITION DES LABELS */
    display: flex;
    flex-direction: column-reverse;
    margin: 1.2em 0;
}

#password, #email {
    max-width: 100%;
}

input, label, button {
    transition: .3s;
}

label {
    transform: translate(10px, -15px);
    cursor: text;
    transform-origin: left top;
    position: absolute;
}

input {
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
}

input::placeholder {    /* CACHE LE PLACEHOLDER */
    opacity: 0;
}

input:focus,          /* QUAND ON SELECTIONNE UN CHAMP CHANGE LA BARRE INFERIEUR DE COULEUR */
input:not(:placeholder-shown) {
    border-bottom: 2px solid #075a79;
}

input:not(:placeholder-shown) ~ label,
input:focus ~ label {
    transform: translate(10px, -30px) scale(.8);
    padding-left: 0;
    color: black;
}

.position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulaire{
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

hr {
    color: #BFBFBF;
    width: 65%;
    margin-bottom: 4%;
}

/* ----------------- FIN POSITION DES CHAMPS TEXTES ---------------------  */

/* ----------------- RESPONSIVE ---------------------  */

@media screen and (max-width: 1280px){
    .card_1 {
      width: 100%;
    }
}

/* ----------------- FIN RESPONSIVE ---------------------  */

/* ------------------- BOUTONS ------------------------- */

.input-form_bis {           /* POSITION DU BOUTON CHANGER DE PHOTO DE PROFIL */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2em 0;
}

.submit-form {          /* DIV POUR LES BOUTON ENREGISTRER ET DECONNEXION */
    text-align: right;
}

.btn {              /* BOUTON ENREGISTRER ET DECONNEXION */
    border: 0;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    color: #075a79;
    background-color: #16a9df;
    outline: none;
    text-decoration: none;
}

.btn:focus, .btn:hover {
    color: #16a9df;
    background-color: #075a79;
}

.label-file {       /* BOUTON EDITION PHOTO DE PROFIL */
    cursor: pointer;
    color: #16a9df;
    font-weight: bold;
}

.label-file:hover {
    color: #075a79;
}

.input-file {
    display: none;
}

/* -------------------- FIN BOUTONS ------------------------- */

/* -------------------- PROFIL PICTURE ---------------------- */

.card_1 {
    box-shadow: rgba(7, 7, 6, 0.2) 0px 0px 10px 5px, inset;
    max-width: 700px;
    margin: 0px auto;
    padding: 65px;
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card_2 {
    margin: 40px auto;
    padding: 30px;
    background: #ffff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.avatar {
    border-color: rgb(108, 101, 90);
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 100%;
    border: 3px black solid;
    max-width: 100%;
    width: 250px;
    height: 250px;
}

.avatar:hover {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    color: #fafafa;
    transition: all 0.3s ease;
}

/* -------------------- END PROFIL PICTURE ---------------------- */